.FaqNotice {
    .bannerTitle {
        height: 150px;
        background: url(../../public/img/commons/faqBanner1.png) no-repeat center ;

        h2 {
            text-align: center;
            line-height: 150px;
            font-size: 30px;
            font-weight: 700;
            color: #fff;
        }
    }

    ul {
        padding: 40px 0;
        min-height: 450px;
        

        li {
            padding: 15px 20px;
            font-size: 18px;
        }

        li:not(:last-of-type) {
            border-bottom: 1px solid #f1f1f1;
        }
    }

    .contentBox {
        padding: 40px 0;
        min-height: 450px;
        border-bottom: 1px solid #c7c7c7;
        margin-bottom: 25px;

        .title {
            padding: 15px;
            font-size: 20px;
            line-height: 25px;
            font-weight: 700;
            border-bottom: 1px solid #f1f1f1;
        }

        .desc {
            padding: 20px 15px;
            font-size: 18px;
            line-height: 40px;
        }
    }

    .listBtn{
        padding: 8px 12px;
        border-radius: 8px;
        background-color: #ebebeb;
    }
}