* {
    // outline: 1px solid tomato !important;
}

body {
    font-size: 1.6rem;
}

.container {
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 100px;
}

header {
    .menu {
        display: flex;
        justify-content: space-between;
        width: 1200px;
        line-height: 100px;
        margin: 0 auto;
        font-size: 18px;
        font-weight: 600;

        h1 {
            font-family: "montserrat";

            img {
                width: 200px;
                font-size: 0;
            }
        }

        nav {
            align-items: center;

            ul {
                display: flex;
                gap: 100px;

                li {
                    position: relative;

                    &:hover {
                        .smenu {
                            display: block;
                        }
                    }

                    a {
                        display: block;

                        &:hover {
                            color: #fe7100;
                        }
                    }

                    .smenu {
                        display: none;
                        position: absolute;
                        inset: 100px auto auto 50%;
                        z-index: 999;
                        width: 150px;
                        line-height: 40px;
                        font-size: 15px;
                        transform: translateX(-50%);
                        text-align: center;
                        background: #fff;

                        li {
                            a {
                                &:hover {
                                    color: #fff;
                                    background: #fe7100;
                                    transition: 0.3s;
                                }
                            }
                        }

                    }
                }
            }
        }

        div {
            width: 200px;
        }
    }
}

#floatingBtn {
    position: fixed;
    bottom: 100px;
    right: 100px;
    z-index: 999;

    .btnBox {
        position: relative;

        img {
            width: 100px;
            border-radius: 50%;
            box-shadow: 3px 3px 3px 3px hsla(0, 0%, 13%, 0.2);
        }

        a {
            position: absolute;
            top: 50%;
            left: 70%;
            transform: translate(-100%, -50%);
            opacity: 0;
            width: 230px;
            padding: 15px 0px 15px 40px;
            border-radius: 50px 0px 0px 50px;
            background-color: #ffffff;
            box-shadow: 3px 3px 3px 3px hsla(0, 0%, 13%, 0.2);
            z-index: -1;
            transition: 0.5s;
            cursor: pointer;

            h2 {
                font-size: 22px;
                line-height: 28px;
                font-weight: bold;
            }
        }
        &:not(:last-of-type){
            margin-bottom: 20px;
        }

        &:hover {
            a {
                left: 50%;
                opacity: 1;
                transition: 0.5s;
            }
        }
    }
    

}


#footer {
    background-color: #f9f9f9;

    .container {
        display: flex;
        gap: auto;
        font-family: 'Nanum Gothic';
        margin-bottom: 0;
        padding: 50px 0;

        .leftInfo {
            .footerInfo {
                margin-bottom: 20px;

                address {
                    ul {
                        display: flex;
                        font-size: 12px;
                        line-height: 25px;
                        color: rgb(148, 148, 148);

                        li~li::before {
                            content: "";
                            display: inline-block;
                            width: 1px;
                            height: 10px;
                            margin: 0 15px;
                            background: #ddd;
                        }
                    }
                }
            }

            .copyRight {
                display: flex;
                font-size: 15px;
                color: rgb(92, 92, 92);
            }
        }

        .rightLogo {
            width: 200px;
            margin: auto 0 auto auto;
        }
    }
}